.header .icon-btn { 
    display: none; 
}

.logo img { 
    width: 210px; 
}

.header {
  position: relative;
  height: 100px;
  z-index: 4;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container {
    padding-block: 0;
    height: 100%;
}